# nginx proxy address - http://172.17.0.1:59082

name: acme
x-logging: &default-logging
  options:
    max-size: '5m'
    max-file: '1'
  driver: json-file

services:
  server:
    image: knrdl/acme-ca-server:latest
    container_name: acme-server
    domainname: ${BASE_DOMAIN_NAME}
    hostname: ${BASE_HOST_NAME:-$HOSTNAME}
    restart: always
    pull_policy: always
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
      # Core ACME Server Configuration
      EXTERNAL_URL: https://${BASE_HOST_NAME:-$HOSTNAME}
      DB_DSN: postgresql://postgres:${DB_ADMIN_PASS:-changeme_admin_password}@acme-db/postgres
      
      # ACME Protocol Settings
      ACME_TERMS_OF_SERVICE_URL: https://${BASE_HOST_NAME:-$HOSTNAME}/terms
      ACME_MAIL_REQUIRED: true
      ACME_MAIL_TARGET_REGEX: 
      ACME_TARGET_DOMAIN_REGEX: 
      
      # Built-in CA Settings
      CA_ENABLED: true
      CA_ENCRYPTION_KEY: ${ENCRYPTION_KEY:-changeme_ca_encryption_key}
      CA_IMPORT_DIR: /import
      CA_CERT_LIFETIME: 60d
      CA_CERT_CDP_ENABLED: true
      CA_CRL_LIFETIME: 7d
      
      # Email Notifications
      MAIL_ENABLED: true
      MAIL_HOST: ${EMAIL_SERVER_HOST:-172.17.0.1}
      MAIL_PORT: ${EMAIL_SERVER_PORT:-587}
      MAIL_USERNAME: ${EMAIL_SERVER_USER:-}
      MAIL_PASSWORD: ${EMAIL_SERVER_PASS:-}
      MAIL_ENCRYPTION: tls
      MAIL_SENDER: ${EMAIL_SERVER_MAIL_FROM:-no-reply@${BASE_DOMAIN_NAME:-${BASE_HOST_NAME}}}
      MAIL_NOTIFY_ON_ACCOUNT_CREATION: true
      MAIL_WARN_BEFORE_CERT_EXPIRES: 20d
      MAIL_NOTIFY_WHEN_CERT_EXPIRED: true
      
      # Web UI Configuration
      WEB_ENABLED: true
      WEB_ENABLE_PUBLIC_LOG: false
      WEB_APP_TITLE: ${APP_ORG_NAME:-ACME CA Server}
      WEB_APP_DESCRIPTION: Self-hosted ACME CA Server
    ports:
      - '172.17.0.1:59082:8080'
    volumes:
      - '/etc/ssl/CA/CasjaysDev/certs/ca.crt:/import/ca.pem:ro'
      - '/etc/ssl/CA/CasjaysDev/private/ca.key:/import/ca.key:ro'
    depends_on:
      db:
        condition: service_healthy
    networks:
      - acme

  db:
    image: postgres:15-alpine
    container_name: acme-db
    domainname: ${BASE_DOMAIN_NAME}
    hostname: acme-db
    restart: always
    pull_policy: always
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
      POSTGRES_PASSWORD: ${DB_ADMIN_PASS:-changeme_admin_password}
    volumes:
      - './rootfs/data/db/postgres/acme:/var/lib/postgresql/data'
    healthcheck:
      test: ['CMD-SHELL', 'runuser', '-u', 'postgres', '--', 'pg_isready']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - acme

networks:
  acme:
    name: acme
    external: false
